# Logs
logs
*.log
npm-debug.log*

# Node modules & build
node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.production

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
